.section{
  flex: 1;
  padding: 2rem;
  margin: 2rem;
  background-color: rgb(172, 216, 248);
  border-radius: 16px;

}
.h2{
  color: white;
  font-size: 2rem;
}
.button{
  border: none;
  background-color: transparent;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 640px) {
  .section{
    padding: 1rem;
    margin: 1rem;  
  }
}